<h1>News Feed</h1>

<p *ngIf="!stories && !error"><em>Loading...</em></p>

<table class='table' *ngIf="stories">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Score</th>
      <th>Number Of Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let story of stories">
      <td><a href="{{story.url}}">{{ story.title }}</a></td>
      <td>{{ story.author }}</td>
      <td>{{ story.score }}</td>
      <td>{{ story.numberOfComments }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="error">
  {{error}}
</div>
